{{ define "main" }}
{{ $content := partial "get-content-without-summary" . }}
{{ $content = partial "content-with-optimized-images" (dict "content" $content "class" "w-full h-auto max-w-full rounded shadow") }}
<article class="h-entry post py-12 sm:py-20">
  <div class="container mx-auto max-w-screen-sm px-4">
    {{ with .Title }}
      <h1 class="p-name text-3xl font-bold lg:text-4xl">{{ . }}</h1>
    {{ end }}
    <section class="e-content prose {{- with .Title }} mt-4{{- end -}}">
      {{ $content }}
    </section>
  </div>
</article>
{{ end }}