.DS_Store
content/*
!content/.gitkeep
!content/404.md
!content/about.md
!content/contact.md
!content/places.md
!content/articles
!content/photos
!content/notes
!content/projects
node_modules
resources