{{ define "main" }}
{{ $content := partial "get-content-without-summary" . }}
{{ $content = partial "content-with-optimized-images" (dict "content" $content) }}
{{ $postType := partial "get-post-type" . }}
{{ if eq $postType "photo" }}
    {{ $content = partial "format-photo-content" (dict "content" $content) }}
{{ end }}

<article class="h-entry post py-12 sm:py-20 ">
  <div class="container mx-auto max-w-screen-sm px-4">
    {{ with .Title }}
      <h1 class="p-name text-3xl font-bold lg:text-4xl">{{ . }}</h1>
    {{ end }}
    <section class="e-content prose {{- with .Title }} mt-4{{- end -}}">
      {{ $content }}
    </section>
    <div class="mt-4">
      {{ partial "meta-list" (dict "date" .Date) }}
    </div>
    {{ partial "divider" (dict "class" "my-12") }}
    {{ partial "button" (dict
      "text" "All Posts"
      "icon_before" "chevron-left"
      "variant" "muted"
      "href" "/"
    ) }}

    {{ if .Site.Params.include_conversation }}
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    {{ end }}
  </div>
</article>
{{ end }}
