{{ define "main" }}
    {{ $list := where .Site.Pages "Type" "post" }}
    {{ $photos := where .Site.Pages ".Params.photos" "!=" nil | union (where .Site.Pages ".Params.videos" "!=" nil)  | union (where .Site.Pages ".Params.images" "!=" nil) }}
    {{ $photos = $list | intersect $photos }}
    {{ $photos = sort $photos "Date" "desc" }}
    {{ $articles := $list | intersect (where .Site.Pages ".RawContent" "like" "<!--more-->") }}
    {{ if eq .Section "articles" }}
        {{/* Articles are posts with <!--more--> */}}
        {{ $list = $articles }}
    {{end }}
    {{ if eq .Section "photos" }}
        {{/* Photos are posts with photos that don’t have <!--more--> */}}
        {{ $list = $photos | complement $articles }}
    {{end }}
    {{ if eq .Section "notes" }}
        {{/* Notes are everything else */}}
        {{ $list = $list | complement $photos | complement $articles }}
    {{end }}
    {{ if eq .Section "replies" }}
        {{ $list = where .Data.Pages.ByDate.Reverse "Type" "reply" }}
    {{end }}
    {{ partial "post-type-listing" (dict "context" . "list" $list) }}
{{ end }}