{{ $links := slice
    (dict
        "name" "Blog"
        "href" "/"
        "isActive"  (or (.IsHome) (eq .Type "post") (in (slice "articles" "photos" "notes") .Section))
    )
    (dict
        "name" "About"
        "href" "/about/"
        "isActive" (eq .RelPermalink "/about/")
    )
    (dict
        "name" "Projects"
        "href" "/projects.html"
    )
    (dict
        "name" "Contact"
        "href" "/contact.html"
    )
}}
{{ $currentPage := dict "name" "Menu" }}
{{ range $links }}
    {{ $currentPage = cond (eq .isActive true) . $currentPage }}
{{ end }}
<div class="bg-purple-700 text-white shadow">
  <div class="relative flex">
    <div class="absolute left-0 top-0 z-10 h-full">
      <a
        href="/"
        class="inline-flex h-full items-center px-4 font-bold leading-none transition-colors duration-300 hover:text-purple-200"
        >BWLNG</a>
    </div>
    <nav class="mx-auto py-2 md:py-0">
      <div class="flex h-full items-center justify-center px-4 md:px-0" data-masthead-menu>
        <button
          class="peer flex flex-nowrap items-center rounded bg-purple-900 py-1.5 pl-[0.625rem] pr-1 text-xs font-semibold leading-snug md:hidden"
          data-masthead-menu-toggle
        >
          {{ $currentPage.name }} {{ partial "icon" (dict "icon" "chevron-down" "class" "w-4") }}
        </button>
        <div
          class="peer-aria-expanded:opacity-100 peer-aria-expanded:pointer-events-auto peer-aria-expanded:top-12 block fixed bottom-0 left-0 right-0 z-50 h-full w-full justify-center rounded-t-xl border border-gray-100 bg-white px-4 py-12 text-black shadow-2xl transition-all duration-300 md:bg-transparent md:shadow-none md:pointer-events-auto md:static md:flex md:rounded-none md:border-0 md:py-0 md:text-white md:opacity-100 pointer-events-none top-full opacity-0"
          role="menu" 
        >
          <button class="absolute right-0 top-0 mr-1 mt-1 md:hidden" data-masthead-menu-close>
            {{ partial "icon" (dict "icon" "close" "class" "w-5 text-gray-300") }}
          </button>
          <ul class="md:flex md:h-full md:flex-row md:text-white">
            {{ range $link := $links }}
                {{ $class := slice "inline-flex w-full items-center rounded-lg border px-3 py-4 text-sm font-bold leading-none transition-colors duration-300 md:w-auto md:rounded-lg md:p-2 md:text-sm md:font-semibold md:text-white" }}
                {{- if $link.isActive -}}
                    {{- $class = $class | append "bg-purple-500 text-white md:border-purple-200 md:bg-purple-900 md:bg-transparent md:text-purple-200" -}}
                {{- else -}}
                    {{- $class = $class | append "bg-gray-100 text-black hover:bg-gray-200 focus:bg-gray-200 md:border-transparent md:bg-transparent md:bg-clip-padding md:hover:bg-purple-900 md:focus:bg-purple-900" -}}
                {{- end -}}
                <li class="w-full py-[2px] md:px-1 md:py-2">
                    <a
                    href="{{ $link.href }}"
                    class="{{- delimit $class " " }}"
                    >{{ $link.name }}</a
                    >
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
    <div class="absolute right-0 top-0 flex h-full items-center px-4">
      <div>
        <a
            href="https://studiosaurus.com"
            target="_blank"
            class="text-white transition-colors duration-300 hover:text-purple-200"
        >
            {{ partial "studiosaurus-mark" (dict
                "class" "h-8 fill-current [margin-right:-7px] md:h-10 md:[margin-right:-11px]"
            ) }}
        </a>
      </div>
    </div>
  </div>
</div>
