{{ $links := slice
    (dict
        "name" "Blog"
        "href" "/"
        "isActive"  (or (.IsHome) (eq .Type "post") (in (slice "articles" "photos" "notes") .Section))
    )
    (dict
        "name" "About"
        "href" "/about/"
        "isActive" (eq .RelPermalink "/about/")
    )
    (dict
        "name" "Projects"
        "href" "/projects.html"
    )
    (dict
        "name" "Contact"
        "href" "/contact.html"
    )
}}
{{ $currentPage := dict "href" "/" "name" "Blog" }}
<div class="bg-purple-700 text-white shadow">
  <div class="relative flex">
    <div class="absolute left-0 top-0 z-10 h-full">
      <a
        href="/"
        class="inline-flex h-full items-center px-4 font-bold leading-none transition-colors duration-300 hover:text-purple-200"
        >BWLNG</a>
    </div>
    <nav class="mx-auto py-2 md:py-0">
      <div class="flex h-full items-center justify-center px-4 md:px-0">
        <button
          class="flex flex-nowrap items-center rounded bg-purple-900 py-1.5 pl-[0.625rem] pr-1 text-xs font-semibold leading-snug md:hidden"
        >
          {{ $currentPage.name }} {{ partial "icon" (dict "icon" "chevron-down" "class" "w-4") }}
        </button>
        <div
          class="fixed bottom-0 left-0 right-0 z-50 h-full w-full justify-center rounded-t-xl border border-gray-100 bg-white px-4 py-12 text-black shadow-2xl transition-all duration-300 md:shadow-none md:pointer-events-auto md:static md:flex md:rounded-none md:border-0 md:bg-transparent md:py-0 md:text-white md:opacity-100 pointer-events-none top-full opacity-0"
        >
          <button class="absolute right-0 top-0 mr-1 mt-1 md:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              class="w-5 text-gray-300"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M47.4142 47.4355C46.6328 48.2172 45.3658 48.2175 44.5841 47.4361C44.5839 47.4359 44.5837 47.4357 44.5835 47.4355L31.9835 34.8355L19.3951 47.4246C18.6093 48.2021 17.342 48.1954 16.5645 47.4096C15.7928 46.6296 15.7928 45.3738 16.5645 44.5939L29.1533 32.0052L16.5668 19.4187C15.7965 18.6259 15.8148 17.3588 16.6077 16.5885C17.3843 15.834 18.6201 15.8339 19.3968 16.5882L31.9838 29.1746L44.5813 16.5772C45.3526 15.7854 46.6198 15.7687 47.4116 16.54C48.2034 17.3113 48.2201 18.5785 47.4488 19.3703C47.4365 19.383 47.424 19.3955 47.4113 19.4078L34.8145 32.0052L47.4145 44.6052C48.196 45.3866 48.1961 46.6536 47.4147 47.4351C47.4145 47.4352 47.4144 47.4354 47.4142 47.4355L47.4142 47.4355Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <ul class="md:flex md:h-full md:flex-row md:text-white">
            {{ range $link := $links }}
                {{ $class := slice "inline-flex w-full items-center rounded-lg border px-3 py-4 text-sm font-bold leading-none transition-colors duration-300 md:w-auto md:rounded-lg md:p-2 md:text-sm md:font-semibold md:text-white" }}
                {{- if $link.isActive -}}
                    {{- $class = $class | append "bg-purple-500 text-white md:border-purple-200 md:bg-purple-900 md:bg-transparent md:text-purple-200" -}}
                {{- else -}}
                    {{- $class = $class | append "bg-gray-100 text-black hover:bg-gray-200 focus:bg-gray-200 md:border-transparent md:bg-transparent md:bg-clip-padding md:hover:bg-purple-900 md:focus:bg-purple-900" -}}
                {{- end -}}
                <li class="w-full py-[2px] md:px-1 md:py-2">
                    <a
                    href="{{ $link.href }}"
                    class="{{- delimit $class " " }}"
                    >{{ $link.name }}</a
                    >
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
    <div class="absolute right-0 top-0 flex h-full items-center px-4">
      <div>
        <a
          href="https://studiosaurus.com"
          target="_blank"
          class="text-white transition-colors duration-300 hover:text-purple-200"
          >
        </a>
      </div>
    </div>
  </div>
</div>
