{{ $context := .context }}
{{ $item := .item }}
<div class="h-entry">
    {{ if $item.Title }}
    <h2 class="font-extrabold text-2xl">
        <a class="p-name u-url text-purple-500 hover:text-purple-600" href="{{ $item.Permalink }}">
            {{ $item.Title }}
        </a>
    </h2>
    {{ end }}
    <div class="p-summary prose">{{ partial "content-with-optimized-images" $item.Content }}</div>
    <div class="mt-4">
        {{ partial "meta-list" (dict "date" $item.Date "permalink" $item.Permalink) }}
    </div>
</div>