{{ $context := .context }}
{{ $list := default (where $context.Site.Pages "Type" "post") .list }}
{{ $links := slice
    (dict
        "name" "All"
        "href" "/"
    )
    (dict
        "name" "Articles"
        "href" "/articles"
    )
    (dict
        "name" "Photos"
        "href" "/photos"
    )
    (dict
        "name" "Notes"
        "href" "/notes"
    )
    (dict
        "name" "Replies"
        "href" "/replies"
    )
}}
<div class="py-12">
    <div class="container mx-auto px-4 max-w-screen-sm">
        <p class="mb-6">
            <a href="/places/" class="inline-block text-xs/tight font-semibold uppercase transition-color bg-purple-150 hover:bg-purple-175 items-center rounded-xl border border-purple-200 pl-3 pr-2 py-2 text-purple-400 transition duration-150 hover:text-purple-500">
                {{ partial "eyebrow" (dict "text" "Currently building Places.") }} <span class="underline hover:no-underline underline-offset-2">View topic</span> {{- partial "icon" (dict "icon" "arrow-right" "class" "inline-flex w-[1em] h-[1em] self-center") -}}</a>
            </a>
        </p>
        <div class="mb-12">
            <div class="relative overflow-hidden">
                <div
                    class="pointer-events-none absolute right-0 top-0 z-10 h-full w-5"
                    style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,var(--color-background-elevated,#FFFFFF) 100%);">
                </div>
                <div
                    class="relative flex w-full snap-x snap-mandatory gap-2.5 overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
                    {{ range $index, $link := $links }}
                        {{ partial "button" (dict
                            "text" $link.name
                            "class" "min-w-[5.5em] justify-center"
                            "href" $link.href
                            "variant" "secondary"
                            "selected" (or 
                                (and (eq $context.Section "") (eq $link.href "/"))
                                (eq $context.Section (strings.TrimPrefix "/" $link.href))
                            )
                        )}}
                    {{ end}}
                </div>
            </div>
        </div>
        <div class="space-y-12">
            {{ partial "post-list" (dict "context" $context "list" $list) }}
        </div>
    </div>
</div>