{{ $item := .item }}
{{ $postType := partial "get-post-type" $item }}
{{ $content := partial "get-content-summary" $item }}
{{ $content = partial "content-with-optimized-images" (dict "content" $content "class" "w-full h-auto max-w-full rounded shadow") }}
{{ if eq $postType "photo" }}
    {{ $content = partial "format-photo-content" (dict "content" $content) }}
{{ end }}

<div class="h-entry">
    {{ if eq $item.Type "reply" }}
        <a href="{{ .Params.reply_to_url }}" class="u-in-reply-to inline-flex gap-1 mb-4 text-xs text-gray-500 bg-gray-100 hover:bg-gray-200 rounded border border-gray-300 p-1 pr-2 items-center transition-colors duration-150">
            {{ partial "icon" (dict "icon" "reply" "class" "w-4") }}
            Replying to
            {{ if eq $item.Params.reply_to_hostname "micro.blog" -}}
                @{{ $item.Params.reply_to_username }}
            {{- else -}}
                {{ $item.Params.reply_to_hostname }}
            {{- end -}}
        </a>
    {{ end }}
    {{ if $item.Title }}
    <h2 class="font-extrabold text-2xl">
        <a class="p-name u-url text-purple-500 hover:text-purple-600" href="{{ $item.Permalink }}">
            {{ $item.Title }}
        </a>
    </h2>
    {{ end }}
    <div class="p-summary prose {{- with $item.Title }} mt-4{{ end -}}">
        {{ $content }}
    </div>
    <div class="mt-4">
        {{ partial "meta-list" (dict "date" $item.Date "permalink" $item.Permalink) }}
    </div>
</div>