{{ $item := .item }}
{{ $postType := partial "get-post-type" $item }}
{{ $content := partial "get-content-summary" $item }}
{{ $content = partial "content-with-optimized-images" (dict "content" $content "class" "w-full h-auto max-w-full rounded shadow") }}
{{ if eq $postType "photo" }}
    {{ $content = partial "format-photo-content" (dict "content" $content) }}
{{ end }}

<div class="h-entry">
    {{ if $item.Title }}
    <h2 class="font-extrabold text-2xl">
        <a class="p-name u-url text-purple-500 hover:text-purple-600" href="{{ $item.Permalink }}">
            {{ $item.Title }}
        </a>
    </h2>
    {{ end }}
    <div class="p-summary prose {{- with $item.Title }} mt-4{{ end -}}">
        {{ $content }}
    </div>
    <div class="mt-4">
        {{ partial "meta-list" (dict "date" $item.Date "permalink" $item.Permalink) }}
    </div>
</div>