{{ define "main" }}
{{ $list := (where .Site.Pages "Type" "post") }}
{{ .Page.Scratch.Set "template" "listing" }}
<div>
    <div class="container px-4 mx-auto">
        <div class="space-y-[60px]">
        {{ range $list }}
            <div class="h-entry bg-repeat-x last:bg-none last:[padding-bottom:0px] [background-position:0_calc(100%)] [padding-bottom:71px] [background-size:100px_11px] [background-image:url(/img/divider.svg)]">
                {{ if .Title }}
                <h2 class="font-extrabold text-2xl">
                    <a class="p-name u-url text-purple-500 hover:text-purple-600" href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h2>
                {{ end }}
                <div class="p-summary space-y-4">{{ .Content }}</div>
                <p class="dt-published text-sm text-gray-500 mt-4" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                    {{ .Date.Format "1/2/2006 3:04pm" }}
                </p>
            </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}